body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	align-items: center;
	min-height: 100vh;
	text-align: center;
	text-transform: uppercase;
	background-image: linear-gradient(
	  165deg, 
	  rgba(194, 233, 221, 0.5) 3%,
	  rgba(104, 119, 132, 0.5) 100%);
  }
  
  .countdown {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 20rem;
	margin: 0 auto;
  }
  
  .countdown__item {
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	min-width: 31%;
	margin-bottom: 1rem;
  
  // Instead of a modifier one could use a pseudo-class:
  //   &:first-child {
  //     width: 100%;
  //   }
	
  //   &:not(:first-child) {
  //     flex: 1;
  //   }
  }
  
  .countdown__item--large {
	flex: auto;
	width: 100%;
	font-size: 2.75em;
  }
  
  .countdown__timer {
	padding: .25em;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
	font-weight: bold;
	font-size: 2em;
  }
  
  .countdown__label {
	font-size: 1em;
	padding-top: .40em;
	
	.countdown__item--large & {
	  &:before,
	  &:after {
		content: '';
		display: block;
		height: 1px;
		background-image: linear-gradient(
		  left,
		  rgba(0, 0, 0, 0), 
		  rgba(0, 0, 0, .4),
		  rgba(0, 0, 0, 0));
	  }
  
	}
  }